.active{
    background-color: rgb(5, 58, 111);
    padding:5px 20px;
    border-radius: 5px;
    color: white;
}

@media screen and (max-width: 480px) {
    .active{
       
        padding:5px 10px;
        border-radius: 2px;
        
    }
}